{% extends "pizzas/base.html" %}

{% block content %}

<p>Pizza: {{ pizza }}</p>

<ul>
    {% for topping in toppings %}
    <li>
        <p> {{topping}}</p>
    </li>
    {% empty %}
    <li>This pizza has no toppings.</li>
    {% endfor %}
</ul>


<p><a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a></p>

<ul>
    {% for comment in comments %}
    <li>
        <p> {{comment}}</p>
    </li>
    {% empty %}
    <li>This pizza has no comments - yet.</li>
    {% endfor %}
</ul>

{% endblock content %}